---

- name: Install package
  apt: name={{ item }} state=present
  with_items:
      - git
  become: true
  when: ansible_distribution == 'Ubuntu'

- name: Install package
  dnf: name={{ item }} state=present
  with_items:
      - git
  become: true
  when: ansible_distribution == 'Fedora'

- name: download nodejs
  get_url: url="{{ nodejs_download_url }}" dest="~/nodejs.tar.xz"

- name: unarchive nodejs
  unarchive: src="~/nodejs.tar.xz" dest="~"

- name: Remove node symlink
  file:
   path: "~/node"
   state: absent
  ignore_errors: true

- name: create node symlink
  file:
   state: link
   src: "~/node-{{ nodejs_version }}-linux-x64"
   dest: "~/node"

- name: download golang
  get_url: url="{{ golang_download_url }}" dest="~/golang.tar.gz"

- name: unarchive golang
  unarchive: src="~/golang.tar.gz" dest="~"

- name: download flutter
  get_url: url="{{ flutter_download_url }}" dest="~/flutter.tar.xz"

- name: unarchive flutter
  unarchive: src="~/flutter.tar.xz" dest="~"
