"*":
  "api-docs":
    "angularjs~1":
      "5": true
    "angular~2":
      "0_typescript": true
    "bootstrap~4": true
    c: true
    cpp: true
    "django~1":
      "10": true
    "docker~1":
      "11": true
    "gcc~5": true
    go: true
    "lua~5":
      "3": true
    "postgresql~9":
      "5": true
    "python~2":
      "7": true
    "python~3":
      "5": true
  "atom-fuzzyy-grep":
    showFullPath: true
  core:
    autoHideMenuBar: true
  editor:
    fontSize: 21
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "637beacd-ee69-b640-10b9-d7eaba53daa6"
  jumpy:
    fontSize: 0.95
    highContrast: true
  "symbols-tree-view":
    autoToggle: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  "line-ending-selector":
    defaultLineEnding: "LF"
  "tabs-to-spaces":
    onSave: "untabify"
  "platformio-ide-terminal":
    core: {}
    customTexts: {}
    style: {}
    toggles: {}
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
