"*":
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.45"
  "api-docs":
    "angularjs~1":
      "5": true
    "angular~2":
      "0_typescript": true
    "bootstrap~4": true
    c: true
    cpp: true
    "django~1":
      "10": true
    "docker~1":
      "11": true
    "gcc~5": true
    go: true
    "lua~5":
      "3": true
    "postgresql~9":
      "5": true
    "python~2":
      "7": true
    "python~3":
      "5": true
  "atom-fuzzyy-grep":
    showFullPath: true
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "emmet"
      "sort-lines"
      "symbols-tree-view"
      "synced-sidebar"
      "tab-switcher"
      "hyperclick"
      "jumpy"
    ]
    telemetryConsent: "no"
  editor:
    atomicSoftTabs: false
    fontSize: 21
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  jumpy:
    fontSize: 0.95
    highContrast: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    displayLinterInfo: false
    showErrorPanel: false
  "platformio-ide-terminal":
    core: {}
    customTexts: {}
    style: {}
    toggles: {}
  "symbols-tree-view":
    autoToggle: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view": {}
  welcome:
    showOnStartup: false
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
