'.editor':
  'alt-/': 'autocomplete:toggle'
  'alt-space': 'autocomplete:toggle'
  'alt-h': 'pane:show-previous-item'
  'alt-l': 'pane:show-next-item'

  'ctrl-h': 'pane:show-previous-item'
  'ctrl-l': 'pane:show-next-item'

  'ctrl-j': 'window:focus-pane-on-left'
  'ctrl-k': 'window:focus-pane-on-right'

  'ctrl-g': 'project-find:show'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'f1': 'tree-view:toggle-focus'

'atom-text-editor.vim-mode:not(.insert-mode)':
  ', g r f': 'project-find:show'
  ', g r r': 'fuzzy-grep:toggle'
  'L': 'pane:show-next-item'
  'H': 'pane:show-previous-item'
  'ctrl-n': 'tree-view:toggle'
  'ctrl-s': 'symbols-tree-view:toggle'
  ', e': 'command-palette:toggle'
  ', c c': 'editor:copy-select'
  ', c p': 'core:paste'
  ', b t': 'bookmarks:toggle-bookmark'
  ', b a': 'bookmarks:view-all'
  ', b n': 'bookmarks:jump-to-next-bookmark'
  ', b p': 'bookmarks:jump-to-previous-bookmark'
  'B': 'bookmarks:toggle-bookmark'
  't': 'bookmarks:jump-to-next-bookmark'
  'T': 'bookmarks:jump-to-previous-bookmark'

'atom-text-editor.vim-mode.insert-mode':
  'ctrl-w': 'editor:delete-to-beginning-of-subword'
  'ctrl-e': 'editor:delete-to-end-of-subword'
  'ctrl-f': 'vim-mode:move-to-next-word'
  'ctrl-b': 'vim-mode:move-to-previous-word'

'atom-text-editor:not(.mini).vim-mode:not(.insert-mode):not(.jumpy-jump-mode)':
    'f': 'jumpy:toggle'
