'.editor':
  'alt-/': 'autocomplete:toggle'
  'alt-space': 'autocomplete:toggle'

  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

  'alt-j': 'focus-pane-or-panel:focus-below'
  'alt-k': 'focus-pane-or-panel:focus-above'
  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'

  'alt-f': 'tree-view:toggle-focus'
  'alt-r': 'command-palette:toggle'
  'alt-;': 'platformio-ide-terminal:toggle'

  'alt-d': 'api-docs:search-under-cursor'

  'alt-e': 'platformio-ide-terminal:insert-text'
  'ctrl-g': 'project-find:show'

'body':
  'alt-j': 'focus-pane-or-panel:focus-below'
  'alt-k': 'focus-pane-or-panel:focus-above'
  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'

  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

  'alt-,': 'pane:show-previous-item'
  'alt-.': 'pane:show-next-item'


'.tool-panel':
  'alt-j': 'focus-pane-or-panel:focus-below'
  'alt-k': 'focus-pane-or-panel:focus-above'
  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'


'.platformio-ide-terminal':
  'alt-j': 'focus-pane-or-panel:focus-below'
  'alt-k': 'focus-pane-or-panel:focus-above'
  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'

  "alt-n": 'platformio-ide-terminal:next'
  "alt-p": 'platformio-ide-terminal:prev'
  "alt-t": 'platformio-ide-terminal:rename'
  'alt-;': 'platformio-ide-terminal:toggle'
  "alt-'": 'platformio-ide-terminal:fullscreen'
  "alt-c": 'platformio-ide-terminal:new'
  "alt-x": 'platformio-ide-terminal:close'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ', g r f': 'project-find:show'
  ', g r r': 'fuzzy-grep:toggle'

  'L': 'pane:show-next-item'
  'H': 'pane:show-previous-item'

  'ctrl-n': 'tree-view:toggle'
  'ctrl-s': 'symbols-tree-view:toggle'
  ', e': 'command-palette:toggle'

  ', c c': 'editor:copy-select'
  ', c p': 'core:paste'

  ', q q': 'core:close'
  ', q w': 'core:close'
  ', q b': 'core:close'

  ', b t': 'bookmarks:toggle-bookmark'
  ', b a': 'bookmarks:view-all'
  ', b n': 'bookmarks:jump-to-next-bookmark'
  ', b p': 'bookmarks:jump-to-previous-bookmark'
  'B': 'bookmarks:toggle-bookmark'
  't': 'bookmarks:jump-to-next-bookmark'
  'T': 'bookmarks:jump-to-previous-bookmark'

  ', t t': 'terminal-panel:toggle'


'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-w': 'editor:delete-to-beginning-of-subword'
  'ctrl-e': 'editor:delete-to-end-of-subword'
  'ctrl-f': 'vim-mode-plus:move-to-next-word'
  'ctrl-b': 'vim-mode-plus:move-to-previous-word'

'atom-text-editor:not(.mini).vim-mode-plus:not(.insert-mode):not(.jumpy-jump-mode)':
    ', f': 'jumpy:toggle'


'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'alt-a': 'vim-mode-plus:activate-normal-mode'


'.tree-view':
  'ctrl-n': 'tree-view:toggle'
  'alt-f': 'tree-view:toggle-focus'

  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'
  'alt-h': 'focus-pane-or-panel:focus-on-left'
  'alt-l': 'focus-pane-or-panel:focus-on-right'


'atom-text-editor.vim-mode-plus.normal-mode':
  ':': 'vim-mode-plus-ex-mode:open'
  '!': 'vim-mode-plus-ex-mode:toggle-setting'
  'ctrl-w': 'core:close'
  ', f f': 'tree-view:reveal-active-file'
