---
- include: "install_rpm_family.yml"
  when: ansible_os_family == 'RedHat'

- include: "install_deb_family.yml"
  when: ansible_os_family == 'Debian' or ansible_os_family == "\"elementary\""

- copy: src=ext_list dest='/tmp/ext_list'

- name: code ext install
  shell: code --install-extension {{ item }}
  ignore_errors: true
  with_lines:
      - "cat /tmp/ext_list"
