---

- block:
    - name: download atom package by get_url
      get_url: url=https://atom.io/download/rpm dest=/tmp/rpm

  rescue:
    - name: download atom package by wget
      shell: wget https://atom.io/download/rpm
      args:
          chdir: /tmp
  always:
    - name: instalal atom from deb file
      yum: name=/tmp/rpm state=present
      become: true

- name: install package
  apt: name="{{ item }}" state=present
  with_items:
    - "silversearcher-ag"
  when: ansible_distribution == 'Fedora'
  become: true
