{
    "Alt-/": "lua:comment.comment",
    "Alt-t": "AddTab",
    "Alt-j": "NextTab",
    "Ctrl-s": "Save",
    "Alt-;": "VSplit,command:term",
    "CtrlUnderscore": "lua:comment.comment",
    "terminal": {
        "<Ctrl-q><Ctrl-q>": "Exit",
        "<Ctrl-e><Ctrl-e>": "CommandMode",
        "<Ctrl-w>": "NextSplit"
    }
}
