---
- get_executable_path: name=python3
  register: python3_exec

- block:
    - set_fact: nvim=true
    - file: path="~/.config/nvim" state=directory
    - template: src="vimrc" dest="~/.config/nvim/init.vim"
    - template: src=hterm-copy.vim dest=~/.config/nvim/hterm-copy.vim
    - template: src=hterm-copy.vim dest=~/.vim/hterm-copy.vim
    - template: src=coc-settings.json dest=~/.config/nvim/coc-settings.json

  always:
    - set_fact: nvim=false

- file: path="~/bin" state=directory mode=0755

- template: src="myvi" dest="~/bin/myvi" mode=0755
- template: src="vit" dest="~/bin/vit" mode=0755
- copy: src="navim" dest="~/bin/navim" mode=0755
- template: src="vim" dest="~/bin/vim" mode=0755
- template: src="vimt" dest="~/bin/vimt" mode=0755
- template: src="wiki.py" dest="~/bin/wiki" mode=0755

- template: src="vimrc" dest="~/.vimrc"

- file: path="~/.config/nvim/autoload/" state=directory recurse=yes

- file: path="~/.vim/autoload/" state=directory recurse=yes

- file: path="~/.vim_custom.vim" state=touch

- file: path="~/.config/nyaovim/" state=directory recurse=yes

- template: src="nyaovimrc.html" dest="~/.config/nyaovim/nyaovimrc.html"

#- name: install vim plugin
#  shell: "vim +PluginInstall +qall now"

- block:
    - name: install YouCompleteMe
      shell: ~/.vim/plugged/YouCompleteMe/install.py --clang-completer
      args:
        creates: ~/.vim/ycm_installed
      register: command_result
      when: programming == true

    - name: mark ycm installed
      shell: touch ~/.vim/ycm_installed
      when: programming == true
  rescue:
    - name: remove YouCompleteMe plugin when failed to compile
      lineinfile: dest="~/.vimrc"
                  state=absent
                  regexp="Plug 'Valloric/YouCompleteMe'"
      when: programming == true

- shell: "getent passwd $LOGNAME | cut -d: -f7"
  register: default_shell

- lineinfile: dest="~/.vimrc"
              regexp="set shell"
              line="set shell={{ default_shell.stdout }}"

- file: path="~/.config/nvim/ftplugin" state=directory recurse=yes

- copy: src="vimwiki.vim" dest="~/.config/nvim/ftplugin"

- file: path="~/.config/coc/ultisnips/" state=directory recurse=yes

- copy: src="json.snippets" dest="~/.config/coc/ultisnips/"

- copy: src="ctags" dest="~/.ctags"

- copy: src=clipboard-provider dest="~/.config/nvim/bin/" mode=0755

- stat: path=~/.devdocsrc
  register: devdocsrc

- template: src=devdocsrc.json dest=~/.devdocsrc
  when: not devdocsrc.stat.exists

- template: src=config.lua dest=~/.config/nvim/config.lua

- lineinfile: dest="~/.vim_custom.vim" regexp="g:leetcode_browser" line="let g:leetcode_browser='firefox'"
  ignore_errors: yes
- lineinfile: dest="~/.vim_custom.vim" regexp="g:leetcode_hide_paid_only" line="let g:leetcode_hide_paid_only='1'"
  ignore_errors: yes
