---
- stat: path=/usr/local/bin/vim
  register: vim_exec

- debug: var=vim_exec

- set_fact:
    need_install: "{{ not vim_exec.stat.exists }}"

- debug: var=need_install

- include: "install-debian.yml"
  when: ansible_distribution == 'Debian'

- include: "install-ubuntu.yml"
  when: >
    ansible_distribution == 'Ubuntu' or
    ansible_os_family == "\"elementary\""

- include: "install-fedora.yml"
  when: ansible_distribution == 'Fedora'

- include: "install-centos.yml"
  when: ansible_distribution == 'CentOS'

- include: "install-osx.yml"
  when: ansible_distribution == 'MacOSX'

- name: pip install [autopep8, flake8]
  pip: name={{ item }}
  become: true
  with_items:
    - autopep8
    - flake8
    - websocket-client
    - sexpdata

- name: install neovim-remote
  shell: "pip3 install neovim-remote"
  become: true
  ignore_errors: ture

- git: repo=https://github.com/gmarik/vundle.git
       dest=~/.vim/bundle/vundle
       depth=1
       force=yes

- git: repo=https://github.com/powerline/powerline
       dest=~/.powerline
       depth=1

- name: download vim-plug
  get_url: >
    url=https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
           dest=/tmp/plug.vim

- file: path="{{ item }}" state=directory recurse=yes
  with_items:
    - "~/.vim/autoload/"
    - "~/.config/nvim/autoload/"

- copy: src=/tmp/plug.vim dest={{ item }} remote_src=yes
  with_items:
    - "~/.vim/autoload/plug.vim"
    - "~/.config/nvim/autoload/plug.vim"

- name: download ripgrep.tar.gz
  get_url: url={{ ripgrep_url }} dest=/tmp/ripgrep.tar.gz

- name: unarchive ripgrep.tar.gz
  unarchive: src="/tmp/ripgrep.tar.gz" dest="/tmp"

- file: path="~/.config/nvim/bin" state="directory"

- copy: src='dict.sh' dest='~/.config/nvim/bin' mode=0755

- shell: cp /tmp/ripgrep-*/rg ~/.config/nvim/bin

- name: download fd.tar.gz
  get_url: url={{ fd_download_url }} dest=/tmp/fd.tar.gz

- name: unarchive fd.tar.gz
  unarchive: src="/tmp/fd.tar.gz" dest="/tmp"

- shell: cp /tmp/fd-*/fd ~/.config/nvim/bin
