---
- apt_repository:
    repo: 'ppa:jonathonf/vim'
    state: present
    validate_certs: no
  become: yes

- apt_repository:
    repo: 'ppa:neovim-ppa/stable'
    state: present
    validate_certs: no
  become: yes

- name: Install packages
  apt: name={{ item }} state=present
  with_items:
   - vim
   - neovim
   - libncurses5-dev
   - libncursesw5-dev
   - exuberant-ctags
   - cmake # for YouCompleteMe
   - python3-dev
   - "silversearcher-ag"
   - ruby
   - "ruby-dev"
   - "python3-pip"
   - libtool # for neovim
   - pkgconf # for neovim
   - automake # for neovim
   - luarocks # for neovim
   - m4 # for neovim
   - python-virtualenv # for neovim
   - ncurses-dev  # for neovim

  become: true
  when: programming == true

- name: Install vim package
  apt: name={{ item }} state=present
  with_items:
   - neovim
   - gawk
   - exuberant-ctags
   - ruby
   - "ruby-dev"
   - "silversearcher-ag"
  become: true
  when: programming == false
